{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h2>Buy Stocks</h2>
    <form action="/buy" method="post">
        <div class="mb-3">
            <label for="symbol">Symbol:</label>
            <input class="form-control mx-auto w-auto" id="symbol" name="symbol" type="text" placeholder="Stock Symbol" required>
        </div>
        <div class="mb-3">
            <label for="shares">Shares:</label>
            <input class="form-control mx-auto w-auto" id="shares" name="shares" type="number" min="1" required>
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
